# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:

- **Objectives:**

1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPY
2. Pandas
3. Matplotlib
4. Tensorflow

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame({'Data Science Toolsdf':['Jupeter Notebook', 'Github', 'Tableau', 'AWS', 'Power BI']})
df

  Data Science Toolsdf
0     Jupeter Notebook
1               Github
2              Tableau
3                  AWS
4             Power BI

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
Hours = 200 / 60
print(Hours)

3.3333333333333335

## Author

Mahmoud Elboghdady